.app_daring_theme {
    --bg-color: #1a1a1d;
    --inverted-bg-color: #6f2232;
    --primary-color: #d1cbcb;
    --secondary-color: #f4e4e45f;
    --inverted-primary-color: #f697bd;
    --inverted-secondary-color: #4e4e50;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #3b3b41;

    // card
    --card-bg: #54545f;

    // listBox
    --list-bg: #54545f;
}
