.app_daring_theme {
    --bg-color: #1a1a1d;
    --inverted-bg-color: #c3073f;
    --primary-color: #ffcb9a;
    --secondary-color: #ffcb9a;
    --inverted-primary-color: #d9b08c;
    --inverted-secondary-color: #4e4e50;
}
