.app_daring_theme {
    --bg-color: #1a1a1d;
    --inverted-bg-color: #6f2232;
    --primary-color: #d1cbcb;
    --secondary-color: #f4e4e45f;
    --inverted-primary-color: #f697bd;
    --inverted-secondary-color: #4e4e50;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #3b3b41;

    // card
    --card-bg: #54545f;

    // listBox
    --list-bg: #54545f;
}
